

.b-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100px;
  height: 50px; */
  color: white;
  font-family: 'Montserrat';
  font-size: 2.5rem;
  text-align:center;
  --borderWidth: 3px;
  /* background: black; */
  border: 2px solid linear-gradient(to right, red, purple);
  position: relative;
  border-radius: var(--borderWidth);
}

.b-btn:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  /* background: linear-gradient(to right, red, purple); */
  /* background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82); */
  /* border-radius: calc(2 * var(--borderWidth)); */
  z-index: -1;
  animation: animatedgradient 3s ease infinite;
  background-size: 400% 400%;
}


/* @keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */

/* https://i.ibb.co/0fcZ3Xs/photoshoot2.jpg
https://i.ibb.co/jg6HSHw/bg-1.jpg
https://i.ibb.co/6txR7tv/bg-2.jpg
https://i.ibb.co/9b4b3Nq/family1.jpg
https://i.ibb.co/FqXP42M/Family2.jpg
https://i.ibb.co/d4LTvGp/img7.jpg
https://i.ibb.co/Cmm85C3/img8.jpg
https://i.ibb.co/bmx8Xq4/img9.jpg
https://i.ibb.co/bdG0VV9/img10.jpg
https://i.ibb.co/847VpDW/img13.jpg
https://i.ibb.co/4ZDMgmK/marrige1.jpg
https://i.ibb.co/3SR5jQW/marrige2.jpg
  */
